.todo-item {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;

    input {
        margin-right: 30px;
    }

    input[type="checkbox"] {
        zoom: 2.5;
    }
    h3{
        font-size: 30px;
    }
}
